body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  background: rgb(7, 18, 160);
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#map {
  height: 80vh;
  width: 100%;
  z-index: 1;
}
#search-container {
  padding: 10px;
  background: #f4f4f4;
  text-align: center;
}
#searchInput {
  padding: 8px;
  width: 250px;
  font-size: 1rem;
}
#accessibility-tools {
  text-align: center;
  padding: 10px;
}
.high-contrast {
  background-color: black;
  color: yellow;
}
body.large-font * {
  font-size: 1.2em !important;
}
#route-controls {
  text-align: center;
  margin-top: 10px;
}
#route-controls button {
  margin: 5px;
  padding: 8px 12px;
}

/* additional styles for the general map */
#controls {
            padding: 10px;
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow: scroll;
        }
        
        input,
        button {
            margin: 5px;
            padding: 8px;
            font-size: 16px;
        }
        
        .container {
            display: flex;
            align-items: center;
        }
        
        .Right-image {
            width: 80px;
            /*adjust size as needed */
            height: auto;
            margin-right: auto;
        }
